<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="pic-ctn">
                    <img src="images/play-your-way.jpg" alt="Productos Logitech" class="pic">
                    <img src="images/experiencia-gamer.png" alt="Banner negocio" class="pic">
                    <img src="images/medios-de-pago.png" alt="Medios de pago" class="pic">
                </div>

                <section>
                    <h2>Novedades</h2>
                    <article class="news">
                        <% products.forEach(product => { %>
                            <%- include('partials/product', { product })%>
                        <% }); %>
                    </article>
                </section>
                <br>
                <section>
                    <h2>Nuestras Marcas</h2>
                    <article class="brand-container">
                        <div class="our-brands">
                            <ul class="brands" type="none">
                                <li class="brand-item"><img src="images/brands/logo-corsair.png" width="180px" alt="Corsair"></li>
                                <li class="brand-item"><img src="images/brands/logo-genius.png" width="180px" alt="Genius"></li>
                                <li class="brand-item"><img src="images/brands/logitech.png" width="180px" alt="Logitech"></li>
                                <li class="brand-item"><img src="images/brands/logo-noga.png" width="180px" alt="Noga"></li>
                                <li class="brand-item"><img src="images/brands/logo-redragon.png" width="180px" alt="Redragon"></li>
                            </ul>
                        </div>
                    </article>
                </section>
                <br>
                <section>
                    <h2>Populares</h2>
                    <article class="populars">
                        <div class="gallery-container">
                            <div class="popular-item">
                                <a href="./productDetail">
                                    <img src="images/tecladoRazerPopulares.jpg" alt="">
                                    <p class="price">$ 5.175,47</p>
                                    <p class="detail-prod">Teclado Razer gamer retroiluminado RGB</p>
                                </a>
                            </div>
                            <div class="popular-item">
                                <a href="./productDetail">
                                    <img src="images/auricularesCorsairPopulares.png" alt="">
                                    <p class="price">$ 2.574,50</p>
                                    <p class="detail-prod">Auriculares gamer Corsair HS35 STEREO </p>
                                </a>
                            </div>
                            <div class="popular-item">
                                <a href="./productDetail">
                                    <img src="images/mouseRazerPopulares.jpg" alt="">
                                    <p class="price">$ 1.479,50</p>
                                    <p class="detail-prod">Mouse Razer gamer diestros</p>
                                </a>
                            </div>
                            <div class="popular-item">
                                <a href="./productDetail">
                                    <img src="images/microfonoPopulares.jpg" alt="">
                                    <p class="price">$ 25.877,99</p>
                                    <p class="detail-prod">Micrófono Shure F34-WE Stereo</p>
                                </a>
                            </div>
                            <div class="popular-item">
                                <a href="./productDetail">
                                    <img src="images/tecladoRedDragonPopulares.jpg" alt="">
                                    <p class="price">$ 3.987,07</p>
                                    <p class="detail-prod">Teclado Redragon gamer retroiluminado RGB</p>
                                </a>
                            </div>
                            <div class="popular-item">
                                <a href="./productDetail">
                                    <img src="images/auricularesRazerPopulares.png" alt="">
                                    <p class="price">$ 5.656,00</p>
                                    <p class="detail-prod">Auriculares Razer con micrófono orejitas Neko retroiluminado</p>
                                </a>
                            </div>
                            <div class="popular-item">
                                <a href="./productDetail">
                                    <img src="images/mouseHyperXPopulares.jpg" alt="">
                                    <p class="price">$ 4.487,50</p>
                                    <p class="detail-prod">Mouse óptico HyperX HSC-342</p>
                                </a>
                            </div>
                            <div class="popular-item">
                                <a href="./productDetail">
                                    <img src="images/microfonoBluYetiPopulares.jpg" alt="">
                                    <p class="price">$ 25.484,77</p>
                                    <p class="detail-prod">Micrófono Blue Yeti S22 Inalámbrico</p>
                                </a>
                            </div>
                        </div>
                    </article>
                </section>
            </main>

            <%- include('partials/footer') %>
    </body>

</html>