<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head') %>
<body>
    <%- include('./../partials/header') %>
    <main>
        <form action="" method="POST" class="creation">
            <label for="" class="edits-2" id="prod-name">Nombre del Producto:</label>
            <input type="text" name="name" id="name" class="edits">
            <label for="" class="edits-2">Descripción:</label>
            <textarea name="decription" id="decription" cols="30" rows="10" class="edits"></textarea>
            <label for="" class="edits-2">Imágen:</label>
            <input type="file" name="image" id="image">
            <label for="" class="edits-2">Categoría:</label>
            <select name="category" id="category" class="edits">
                <option value="">Auriculares</option>
                <option value="">Teclados</option>
                <option value="">Mouse</option>
                <option value="">Micrófono</option>
            </select>
            <label for="" class="edits-2">Colores:</label>
            <select name="color" id="color" class="edits">
                <option value="">Rojo</option>
                <option value="">Verde</option>
                <option value="">Celeste</option>
                <option value="">Negro</option>
            </select>
            <label for="" class="edits-2">Precio:</label>
            <input type="input" name="price" id="price" class="edits">
            <label for="create-button"></label>
            <button type="submit" value="Crear" name="create-button" id="create-button" class="send-button">Añadir a Catálogo</button>
        </form>
    </main>
    <%- include('./../partials/footer') %>
</body>
</html>